@import "mapas";

.gris{
    background-color: $f-fondo;
}
.container-fluid {
    width: 100%;
    img{
    margin-left: 50px;
    }
}

.recuadro{
    border: $f-blanco 1px solid;
    color: $l-blanco;
    &:hover{
    background-color: $f-blanco;
    color: $l-negro;
    }
}

.centrado{
    justify-content: center;
}

.nav-link{
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 20px;
    &:hover{
        animation-name: transi;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        background-color: #282d32;  
        color: $l-blanco;    
    }
}

  @keyframes transi{
    0% { width: 0%;
      background-color: $f-blanco;}
    25%{ width: 1%;}
    50%{ width: 50%;
      background-color: #282d32;}
    75%{ width: 75%;
      background-color:#282d32;}
    100%{ width: 100%;
      background-color:#282d32;}
  }

@media (min-width: 436px) and (max-width: 768px) {
  .container-fluid{
    width: 100%;
    a{
      width: 100%;
      position: relative;
      text-align: center;
    }
    .d-flex{
      width: 100%;
      padding: 10px;
      position: relative;
      text-align: center;
    }
  }
  .navbar{
    padding: 0;
    .navbar-toggler{
      width: 100%;
      position: relative;
      text-align: right;
    }
  }
}